<p>This card is part of the <a href="/DOAp_(set)">Dawn of Ashes Prelude</a> set.</p>
<div class="card-template">
  <figure class="image">
    <img
      src="https://img.silvie.org/api-data/oJxHM7bFVy.jpg"
      alt="Anger the Skies &ndash; DOAp &middot; EN-095"
      style="max-width: 440px;"
    >
    <figcaption>Anger the Skies &ndash; DOAp &middot; EN-095</figcaption>
  </figure>
  <div class="card-template-stats">
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Effect</span>
      <span class="card-template-stat-values">
        <span class="card-template-stat-values-effect">
          Deal 3 damage to all allies <span class="effect__reminder">(controlled by each player)</span>. <span class="effect__label">Class Bonus:</span> Deal 4 damage to those allies instead.
        </span>
      </span>
    </div>
    
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Illustrator</span>
      <span class="card-template-stat-values">
        <span class="dead-link"><a href="/illustrators">漫道</a></span>
      </span>
    </div>
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Population</span>
      <span class="card-template-stat-values">
        
      </span>
    </div>
  </div>
  <p>
    For the full card stats, <a href="https://index.gatcg.com/edition/anger-the-skies-doap">view this card on Grand Archive Index</a>.
  </p>
</div>