<p>This card is part of the <a href="/DOAp_(set)">Dawn of Ashes Prelude</a> set.</p>
<div class="card-template">
  <figure class="image">
    <img
      src="https://img.silvie.org/api-data/MlMGQjYJls.jpg"
      alt="Clarent, Sword of Peace &ndash; DOAp &middot; EN-010"
      style="max-width: 440px;"
    >
    <figcaption>Clarent, Sword of Peace &ndash; DOAp &middot; EN-010</figcaption>
  </figure>
  <div class="card-template-stats">
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Effect</span>
      <span class="card-template-stat-values">
        <span class="card-template-stat-values-effect">
          <span class="effect__bubble">Class Bonus</span><span class="effect__label">Remove a durability counter from Clarent:</span> Prevent the next 1 non-attack damage that would be dealt to each unit you control this turn. <span class="effect__reminder">(Activate this ability only if your champion's class matches this card's class.)</span>
        </span>
      </span>
    </div>
        <div class="card-template-stat">
      <span class="card-template-stat-heading">Rules</span>
      <span class="card-template-stat-values"><span class="card-template-stat-values-rule">2022-03-10 &ndash; You may use Clarent's ability multiple times to effectively prevent more damage.</span></span>
    </div>
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Illustrator</span>
      <span class="card-template-stat-values">
        <span class="dead-link"><a href="/illustrators">漫道</a></span>
      </span>
    </div>
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Population</span>
      <span class="card-template-stat-values">
        <div>Normal &ndash; ≈7,500</div>
      </span>
    </div>
  </div>
  <p>
    For the full card stats, <a href="https://index.gatcg.com/edition/clarent-sword-of-peace-doap">view this card on Grand Archive Index</a>.
  </p>
</div>