<table>
<thead>
  <tr>
    <th style="text-align: left">Number</th>
    <th style="text-align: left">Name</th>
    <th style="text-align: left">Rarity</th>
    <th style="text-align: right">Population</th>
  </tr>
</thead>
<tbody>
  <tr>
  <td style="text-align: left">
    EN-001
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/lost-spirit_(card)#demo22--en-001-c">
      Lost Spirit
    </a>
  </td>
  <td style="text-align: left">
    C
  </td>
  <td style="text-align: right">
    Normal ≈12,000
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-002
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/lorraine-wandering-warrior_(card)#demo22--en-002-c">
      Lorraine, Wandering Warrior
    </a>
  </td>
  <td style="text-align: left">
    C
  </td>
  <td style="text-align: right">
    Normal ≈12,000
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-003
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/bauble-of-abundance_(card)#demo22--en-003-c">
      Bauble of Abundance
    </a>
  </td>
  <td style="text-align: left">
    C
  </td>
  <td style="text-align: right">
    Normal ≈12,000
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-004
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/life-essence-amulet_(card)#demo22--en-004-c">
      Life Essence Amulet
    </a>
  </td>
  <td style="text-align: left">
    C
  </td>
  <td style="text-align: right">
    Normal ≈12,000
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-005
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/ornamental-greatsword_(card)#demo22--en-005-c">
      Ornamental Greatsword
    </a>
  </td>
  <td style="text-align: left">
    C
  </td>
  <td style="text-align: right">
    Normal ≈12,000
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-006
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/seers-sword_(card)#demo22--en-006-u">
      Seer's Sword
    </a>
  </td>
  <td style="text-align: left">
    U
  </td>
  <td style="text-align: right">
    Normal ≈12,000
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-007
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/sharpening-stone_(card)#demo22--en-007-c">
      Sharpening Stone
    </a>
  </td>
  <td style="text-align: left">
    C
  </td>
  <td style="text-align: right">
    Normal ≈12,000
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-008
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/warriors-longsword_(card)#demo22--en-008-u">
      Warrior's Longsword
    </a>
  </td>
  <td style="text-align: left">
    U
  </td>
  <td style="text-align: right">
    Normal ≈12,000
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-009
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/crusader-of-aesa_(card)#demo22--en-009-c">
      Crusader of Aesa
    </a>
  </td>
  <td style="text-align: left">
    C
  </td>
  <td style="text-align: right">
    Normal ≈24,000
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-010
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/esteemed-knight_(card)#demo22--en-010-c">
      Esteemed Knight
    </a>
  </td>
  <td style="text-align: left">
    C
  </td>
  <td style="text-align: right">
    Normal ≈36,000
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-011
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/honorable-vanguard_(card)#demo22--en-011-c">
      Honorable Vanguard
    </a>
  </td>
  <td style="text-align: left">
    C
  </td>
  <td style="text-align: right">
    Normal ≈36,000
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-012
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/inspiring-call_(card)#demo22--en-012-u">
      Inspiring Call
    </a>
  </td>
  <td style="text-align: left">
    U
  </td>
  <td style="text-align: right">
    Normal ≈24,000
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-013
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/opening-cut_(card)#demo22--en-013-c">
      Opening Cut
    </a>
  </td>
  <td style="text-align: left">
    C
  </td>
  <td style="text-align: right">
    Normal ≈24,000
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-014
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/reckless-slash_(card)#demo22--en-014-c">
      Reckless Slash
    </a>
  </td>
  <td style="text-align: left">
    C
  </td>
  <td style="text-align: right">
    Normal ≈24,000
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-015
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/scry-the-skies_(card)#demo22--en-015-c">
      Scry the Skies
    </a>
  </td>
  <td style="text-align: left">
    C
  </td>
  <td style="text-align: right">
    Normal ≈36,000
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-016
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/sudden-steel_(card)#demo22--en-016-u">
      Sudden Steel
    </a>
  </td>
  <td style="text-align: left">
    U
  </td>
  <td style="text-align: right">
    Normal ≈24,000
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-017
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/trusty-steed_(card)#demo22--en-017-c">
      Trusty Steed
    </a>
  </td>
  <td style="text-align: left">
    C
  </td>
  <td style="text-align: right">
    Normal ≈24,000
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-018
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/veteran-soldier_(card)#demo22--en-018-c">
      Veteran Soldier
    </a>
  </td>
  <td style="text-align: left">
    C
  </td>
  <td style="text-align: right">
    Normal ≈36,000
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-019
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/weaponsmith_(card)#demo22--en-019-c">
      Weaponsmith
    </a>
  </td>
  <td style="text-align: left">
    C
  </td>
  <td style="text-align: right">
    Normal ≈24,000
  </td>
</tr>
</tbody>
</table>