<table class="condensed-table">
      <thead>
        <tr>
          <th style="text-align: left">Number</th>
          <th style="text-align: left">Name</th>
          
        </tr>
      </thead>
      <tbody>
        <tr>
  <th colspan="3">CHAMPION</th>
</tr>
<tr>
    <td style="text-align: left">
      EN-001
    </td>
    <td style="text-align: left">
      <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
      <a href="/spirit-of-fire_(card)#doap--en-001-r">
        Spirit of Fire
      </a> x1
    </td>
    
    
  </tr>
<tr>
    <td style="text-align: left">
      EN-006
    </td>
    <td style="text-align: left">
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <a href="/rai-spellcrafter_(card)#doap--en-006-r">
        Rai, Spellcrafter
      </a> x1
    </td>
    
    
  </tr>
<tr>
    <td style="text-align: left">
      EN-007
    </td>
    <td style="text-align: left">
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <a href="/rai-archmage_(card)#doap--en-007-r">
        Rai, Archmage
      </a> x1
    </td>
    
    
  </tr>
<tr>
    <td style="text-align: left">
      EN-008
    </td>
    <td style="text-align: left">
      <img class="image-element" src="https://img.silvie.org/misc/elements/arcane.png" alt="ARCANE element" />
      <a href="/rai-storm-seer_(card)#doap--en-008-r">
        Rai, Storm Seer
      </a> x1
    </td>
    
    
  </tr>
<tr>
  <th colspan="3">REGALIA</th>
</tr>
<tr>
    <td style="text-align: left">
      EN-012
    </td>
    <td style="text-align: left">
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <a href="/endura-scepter-of-ignition_(card)#doap--en-012-ur">
        Endura, Scepter of Ignition
      </a> x1
    </td>
    
    
  </tr>
<tr>
    <td style="text-align: left">
      EN-023
    </td>
    <td style="text-align: left">
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <a href="/wind-resonance-bauble_(card)#doap--en-023-sr">
        Wind Resonance Bauble
      </a> x1
    </td>
    
    
  </tr>
<tr>
    <td style="text-align: left">
      EN-021
    </td>
    <td style="text-align: left">
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <a href="/tome-of-knowledge_(card)#doap--en-021-sr">
        Tome of Knowledge
      </a> x1
    </td>
    
    
  </tr>
<tr>
    <td style="text-align: left">
      EN-019
    </td>
    <td style="text-align: left">
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <a href="/surveillance-stone_(card)#doap--en-019-sr">
        Surveillance Stone
      </a> x1
    </td>
    
    
  </tr>
<tr>
    <td style="text-align: left">
      EN-015
    </td>
    <td style="text-align: left">
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <a href="/mana-limiter_(card)#doap--en-015-sr">
        Mana Limiter
      </a> x1
    </td>
    
    
  </tr>
<tr>
    <td style="text-align: left">
      EN-014
    </td>
    <td style="text-align: left">
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <a href="/life-essence-amulet_(card)#doap--en-014-r">
        Life Essence Amulet
      </a> x1
    </td>
    
    
  </tr>
<tr>
    <td style="text-align: left">
      EN-011
    </td>
    <td style="text-align: left">
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <a href="/crystal-of-empowerment_(card)#doap--en-011-r">
        Crystal of Empowerment
      </a> x1
    </td>
    
    
  </tr>
<tr>
    <td style="text-align: left">
      EN-024
    </td>
    <td style="text-align: left">
      <img class="image-element" src="https://img.silvie.org/misc/elements/arcane.png" alt="ARCANE element" />
      <a href="/arcanists-prism_(card)#doap--en-024-cr">
        Arcanist's Prism
      </a> x1
    </td>
    
    
  </tr>
<tr>
  <th colspan="3">ALLY</th>
</tr>
<tr>
    <td style="text-align: left">
      EN-059
    </td>
    <td style="text-align: left">
      <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
      <a href="/blitz-mage_(card)#doap--en-059-sr">
        Blitz Mage
      </a> x2
    </td>
    
    
  </tr>
<tr>
    <td style="text-align: left">
      EN-032
    </td>
    <td style="text-align: left">
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <a href="/dungeon-guide_(card)#doap--en-032-ur">
        Dungeon Guide
      </a> x2
    </td>
    
    
  </tr>
<tr>
    <td style="text-align: left">
      EN-070
    </td>
    <td style="text-align: left">
      <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
      <a href="/impassioned-tutor_(card)#doap--en-070-sr">
        Impassioned Tutor
      </a> x3
    </td>
    
    
  </tr>
<tr>
    <td style="text-align: left">
      EN-042
    </td>
    <td style="text-align: left">
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <a href="/library-witch_(card)#doap--en-042-r">
        Library Witch
      </a> x4
    </td>
    
    
  </tr>
<tr>
    <td style="text-align: left">
      EN-043
    </td>
    <td style="text-align: left">
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <a href="/magus-disciple_(card)#doap--en-043-r">
        Magus Disciple
      </a> x3
    </td>
    
    
  </tr>
<tr>
    <td style="text-align: left">
      EN-027
    </td>
    <td style="text-align: left">
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <a href="/barrier-servant_(card)#doap--en-027-r">
        Barrier Servant
      </a> x3
    </td>
    
    
  </tr>
<tr>
  <th colspan="3">ACTION</th>
</tr>
<tr>
    <td style="text-align: left">
      EN-069
    </td>
    <td style="text-align: left">
      <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
      <a href="/ignite-the-soul_(card)#doap--en-069-r">
        Ignite the Soul
      </a> x4
    </td>
    
    
  </tr>
<tr>
    <td style="text-align: left">
      EN-095
    </td>
    <td style="text-align: left">
      <img class="image-element" src="https://img.silvie.org/misc/elements/arcane.png" alt="ARCANE element" />
      <a href="/anger-the-skies_(card)#doap--en-095-sr">
        Anger the Skies
      </a> x2
    </td>
    
    
  </tr>
<tr>
    <td style="text-align: left">
      EN-096
    </td>
    <td style="text-align: left">
      <img class="image-element" src="https://img.silvie.org/misc/elements/arcane.png" alt="ARCANE element" />
      <a href="/arcane-blast_(card)#doap--en-096-sr">
        Arcane Blast
      </a> x4
    </td>
    
    
  </tr>
<tr>
    <td style="text-align: left">
      EN-097
    </td>
    <td style="text-align: left">
      <img class="image-element" src="https://img.silvie.org/misc/elements/arcane.png" alt="ARCANE element" />
      <a href="/arcane-disposition_(card)#doap--en-097-sr">
        Arcane Disposition
      </a> x4
    </td>
    
    
  </tr>
<tr>
    <td style="text-align: left">
      EN-098
    </td>
    <td style="text-align: left">
      <img class="image-element" src="https://img.silvie.org/misc/elements/arcane.png" alt="ARCANE element" />
      <a href="/arcane-sight_(card)#doap--en-098-sr">
        Arcane Sight
      </a> x4
    </td>
    
    
  </tr>
<tr>
    <td style="text-align: left">
      EN-028
    </td>
    <td style="text-align: left">
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <a href="/careful-study_(card)#doap--en-028-r">
        Careful Study
      </a> x2
    </td>
    
    
  </tr>
<tr>
    <td style="text-align: left">
      EN-060
    </td>
    <td style="text-align: left">
      <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
      <a href="/creative-shock_(card)#doap--en-060-sr">
        Creative Shock
      </a> x4
    </td>
    
    
  </tr>
<tr>
    <td style="text-align: left">
      EN-065
    </td>
    <td style="text-align: left">
      <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
      <a href="/fireball_(card)#doap--en-065-r">
        Fireball
      </a> x4
    </td>
    
    
  </tr>
<tr>
    <td style="text-align: left">
      EN-068
    </td>
    <td style="text-align: left">
      <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
      <a href="/focused-flames_(card)#doap--en-068-sr">
        Focused Flames
      </a> x2
    </td>
    
    
  </tr>
<tr>
    <td style="text-align: left">
      EN-047
    </td>
    <td style="text-align: left">
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <a href="/peer-into-mana_(card)#doap--en-047-r">
        Peer into Mana
      </a> x4
    </td>
    
    
  </tr>
<tr>
    <td style="text-align: left">
      EN-099
    </td>
    <td style="text-align: left">
      <img class="image-element" src="https://img.silvie.org/misc/elements/arcane.png" alt="ARCANE element" />
      <a href="/power-overwhelming_(card)#doap--en-099-cr">
        Power Overwhelming
      </a> x1
    </td>
    
    
  </tr>
<tr>
    <td style="text-align: left">
      EN-072
    </td>
    <td style="text-align: left">
      <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
      <a href="/purge-in-flames_(card)#doap--en-072-ur">
        Purge in Flames
      </a> x2
    </td>
    
    
  </tr>
<tr>
    <td style="text-align: left">
      EN-051
    </td>
    <td style="text-align: left">
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <a href="/scry-the-skies_(card)#doap--en-051-r">
        Scry the Skies
      </a> x4
    </td>
    
    
  </tr>
<tr>
    <td style="text-align: left">
      EN-101
    </td>
    <td style="text-align: left">
      <img class="image-element" src="https://img.silvie.org/misc/elements/arcane.png" alt="ARCANE element" />
      <a href="/spellshield-arcane_(card)#doap--en-101-ur">
        Spellshield: Arcane
      </a> x2
    </td>
    
    
  </tr>
      </tbody>
      </table>