<table class="condensed-table">
      <thead>
        <tr>
          <th style="text-align: left">Number</th>
          <th style="text-align: left">Name</th>
          
        </tr>
      </thead>
      <tbody>
        <tr>
  <th colspan="3">CHAMPION</th>
</tr>
<tr>
    <td style="text-align: left">
      EN-002
    </td>
    <td style="text-align: left">
      <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
      <a href="/spirit-of-wind_(card)#doap--en-002-r">
        Spirit of Wind
      </a> x1
    </td>
    
    
  </tr>
<tr>
    <td style="text-align: left">
      EN-003
    </td>
    <td style="text-align: left">
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <a href="/lorraine-wandering-warrior_(card)#doap--en-003-r">
        Lorraine, Wandering Warrior
      </a> x1
    </td>
    
    
  </tr>
<tr>
    <td style="text-align: left">
      EN-004
    </td>
    <td style="text-align: left">
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <a href="/lorraine-blademaster_(card)#doap--en-004-r">
        Lorraine, Blademaster
      </a> x1
    </td>
    
    
  </tr>
<tr>
    <td style="text-align: left">
      EN-005
    </td>
    <td style="text-align: left">
      <img class="image-element" src="https://img.silvie.org/misc/elements/crux.png" alt="CRUX element" />
      <a href="/lorraine-crux-knight_(card)#doap--en-005-r">
        Lorraine, Crux Knight
      </a> x1
    </td>
    
    
  </tr>
<tr>
  <th colspan="3">REGALIA</th>
</tr>
<tr>
    <td style="text-align: left">
      EN-010
    </td>
    <td style="text-align: left">
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <a href="/clarent-sword-of-peace_(card)#doap--en-010-ur">
        Clarent, Sword of Peace
      </a> x1
    </td>
    
    
  </tr>
<tr>
    <td style="text-align: left">
      EN-013
    </td>
    <td style="text-align: left">
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <a href="/fire-resonance-bauble_(card)#doap--en-013-sr">
        Fire Resonance Bauble
      </a> x1
    </td>
    
    
  </tr>
<tr>
    <td style="text-align: left">
      EN-022
    </td>
    <td style="text-align: left">
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <a href="/warriors-longsword_(card)#doap--en-022-sr">
        Warrior's Longsword
      </a> x1
    </td>
    
    
  </tr>
<tr>
    <td style="text-align: left">
      EN-017
    </td>
    <td style="text-align: left">
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <a href="/ornamental-greatsword_(card)#doap--en-017-r">
        Ornamental Greatsword
      </a> x1
    </td>
    
    
  </tr>
<tr>
    <td style="text-align: left">
      EN-020
    </td>
    <td style="text-align: left">
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <a href="/sword-of-seeking_(card)#doap--en-020-sr">
        Sword of Seeking
      </a> x1
    </td>
    
    
  </tr>
<tr>
    <td style="text-align: left">
      EN-014
    </td>
    <td style="text-align: left">
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <a href="/life-essence-amulet_(card)#doap--en-014-r">
        Life Essence Amulet
      </a> x1
    </td>
    
    
  </tr>
<tr>
    <td style="text-align: left">
      EN-025
    </td>
    <td style="text-align: left">
      <img class="image-element" src="https://img.silvie.org/misc/elements/crux.png" alt="CRUX element" />
      <a href="/prismatic-edge_(card)#doap--en-025-cr">
        Prismatic Edge
      </a> x1
    </td>
    
    
  </tr>
<tr>
    <td style="text-align: left">
      EN-018
    </td>
    <td style="text-align: left">
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <a href="/seers-sword_(card)#doap--en-018-sr">
        Seer's Sword
      </a> x1
    </td>
    
    
  </tr>
<tr>
  <th colspan="3">ALLY</th>
</tr>
<tr>
    <td style="text-align: left">
      EN-026
    </td>
    <td style="text-align: left">
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <a href="/banner-knight_(card)#doap--en-026-r">
        Banner Knight
      </a> x3
    </td>
    
    
  </tr>
<tr>
    <td style="text-align: left">
      EN-030
    </td>
    <td style="text-align: left">
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <a href="/crusader-of-aesa_(card)#doap--en-030-r">
        Crusader of Aesa
      </a> x4
    </td>
    
    
  </tr>
<tr>
    <td style="text-align: left">
      EN-081
    </td>
    <td style="text-align: left">
      <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
      <a href="/dream-fairy_(card)#doap--en-081-ur">
        Dream Fairy
      </a> x3
    </td>
    
    
  </tr>
<tr>
    <td style="text-align: left">
      EN-032
    </td>
    <td style="text-align: left">
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <a href="/dungeon-guide_(card)#doap--en-032-ur">
        Dungeon Guide
      </a> x2
    </td>
    
    
  </tr>
<tr>
    <td style="text-align: left">
      EN-034
    </td>
    <td style="text-align: left">
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <a href="/esteemed-knight_(card)#doap--en-034-r">
        Esteemed Knight
      </a> x4
    </td>
    
    
  </tr>
<tr>
    <td style="text-align: left">
      EN-038
    </td>
    <td style="text-align: left">
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <a href="/honorable-vanguard_(card)#doap--en-038-r">
        Honorable Vanguard
      </a> x4
    </td>
    
    
  </tr>
<tr>
    <td style="text-align: left">
      EN-056
    </td>
    <td style="text-align: left">
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <a href="/weaponsmith_(card)#doap--en-056-r">
        Weaponsmith
      </a> x4
    </td>
    
    
  </tr>
<tr>
  <th colspan="3">ACTION</th>
</tr>
<tr>
    <td style="text-align: left">
      EN-102
    </td>
    <td style="text-align: left">
      <img class="image-element" src="https://img.silvie.org/misc/elements/crux.png" alt="CRUX element" />
      <a href="/crux-sight_(card)#doap--en-102-sr">
        Crux Sight
      </a> x3
    </td>
    
    
  </tr>
<tr>
    <td style="text-align: left">
      EN-080
    </td>
    <td style="text-align: left">
      <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
      <a href="/disorienting-winds_(card)#doap--en-080-sr">
        Disorienting Winds
      </a> x2
    </td>
    
    
  </tr>
<tr>
    <td style="text-align: left">
      EN-083
    </td>
    <td style="text-align: left">
      <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
      <a href="/favorable-winds_(card)#doap--en-083-r">
        Favorable Winds
      </a> x3
    </td>
    
    
  </tr>
<tr>
    <td style="text-align: left">
      EN-040
    </td>
    <td style="text-align: left">
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <a href="/inspiring-call_(card)#doap--en-040-r">
        Inspiring Call
      </a> x2
    </td>
    
    
  </tr>
<tr>
    <td style="text-align: left">
      EN-051
    </td>
    <td style="text-align: left">
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <a href="/scry-the-skies_(card)#doap--en-051-r">
        Scry the Skies
      </a> x4
    </td>
    
    
  </tr>
<tr>
    <td style="text-align: left">
      EN-104
    </td>
    <td style="text-align: left">
      <img class="image-element" src="https://img.silvie.org/misc/elements/crux.png" alt="CRUX element" />
      <a href="/spirit-blade-ascension_(card)#doap--en-104-ur">
        Spirit Blade: Ascension
      </a> x2
    </td>
    
    
  </tr>
<tr>
    <td style="text-align: left">
      EN-105
    </td>
    <td style="text-align: left">
      <img class="image-element" src="https://img.silvie.org/misc/elements/crux.png" alt="CRUX element" />
      <a href="/spirit-blade-dispersion_(card)#doap--en-105-ur">
        Spirit Blade: Dispersion
      </a> x1
    </td>
    
    
  </tr>
<tr>
    <td style="text-align: left">
      EN-107
    </td>
    <td style="text-align: left">
      <img class="image-element" src="https://img.silvie.org/misc/elements/crux.png" alt="CRUX element" />
      <a href="/spirit-blade-infusion_(card)#doap--en-107-sr">
        Spirit Blade: Infusion
      </a> x2
    </td>
    
    
  </tr>
<tr>
    <td style="text-align: left">
      EN-108
    </td>
    <td style="text-align: left">
      <img class="image-element" src="https://img.silvie.org/misc/elements/crux.png" alt="CRUX element" />
      <a href="/spirits-blessing_(card)#doap--en-108-ur">
        Spirit's Blessing
      </a> x3
    </td>
    
    
  </tr>
<tr>
  <th colspan="3">ATTACK</th>
</tr>
<tr>
    <td style="text-align: left">
      EN-084
    </td>
    <td style="text-align: left">
      <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
      <a href="/hurricane-sweep_(card)#doap--en-084-ur">
        Hurricane Sweep
      </a> x2
    </td>
    
    
  </tr>
<tr>
    <td style="text-align: left">
      EN-106
    </td>
    <td style="text-align: left">
      <img class="image-element" src="https://img.silvie.org/misc/elements/crux.png" alt="CRUX element" />
      <a href="/spirit-blade-ghost-strike_(card)#doap--en-106-sr">
        Spirit Blade: Ghost Strike
      </a> x4
    </td>
    
    
  </tr>
<tr>
    <td style="text-align: left">
      EN-050
    </td>
    <td style="text-align: left">
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <a href="/savage-slash_(card)#doap--en-050-r">
        Savage Slash
      </a> x3
    </td>
    
    
  </tr>
<tr>
    <td style="text-align: left">
      EN-052
    </td>
    <td style="text-align: left">
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <a href="/sudden-steel_(card)#doap--en-052-r">
        Sudden Steel
      </a> x2
    </td>
    
    
  </tr>
<tr>
    <td style="text-align: left">
      EN-094
    </td>
    <td style="text-align: left">
      <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
      <a href="/wind-cutter_(card)#doap--en-094-r">
        Wind Cutter
      </a> x1
    </td>
    
    
  </tr>
      </tbody>
      </table>