<table>
<thead>
  <tr>
    <th style="text-align: left">Number</th>
    <th style="text-align: left">Name</th>
    <th style="text-align: left">Rarity</th>
    <th style="text-align: right">Population</th>
  </tr>
</thead>
<tbody>
  <tr>
  <td style="text-align: left">
    EN-001
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
    <a href="/spirit-of-fire_(card)#doap--en-001-c">
      Spirit of Fire
    </a>
  </td>
  <td style="text-align: left">
    C
  </td>
  <td style="text-align: right">
    Normal ≈7,500
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-002
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
    <a href="/spirit-of-wind_(card)#doap--en-002-c">
      Spirit of Wind
    </a>
  </td>
  <td style="text-align: left">
    C
  </td>
  <td style="text-align: right">
    Normal ≈7,500
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-003
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/lorraine-wandering-warrior_(card)#doap--en-003-c">
      Lorraine, Wandering Warrior
    </a>
  </td>
  <td style="text-align: left">
    C
  </td>
  <td style="text-align: right">
    Normal ≈7,500
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-004
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/lorraine-blademaster_(card)#doap--en-004-c">
      Lorraine, Blademaster
    </a>
  </td>
  <td style="text-align: left">
    C
  </td>
  <td style="text-align: right">
    Normal ≈7,500
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-005
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/crux.png" alt="CRUX element" />
    <a href="/lorraine-crux-knight_(card)#doap--en-005-c">
      Lorraine, Crux Knight
    </a>
  </td>
  <td style="text-align: left">
    C
  </td>
  <td style="text-align: right">
    Normal ≈7,500
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-006
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/rai-spellcrafter_(card)#doap--en-006-c">
      Rai, Spellcrafter
    </a>
  </td>
  <td style="text-align: left">
    C
  </td>
  <td style="text-align: right">
    Normal ≈7,500
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-007
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/rai-archmage_(card)#doap--en-007-c">
      Rai, Archmage
    </a>
  </td>
  <td style="text-align: left">
    C
  </td>
  <td style="text-align: right">
    Normal ≈7,500
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-008
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/arcane.png" alt="ARCANE element" />
    <a href="/rai-storm-seer_(card)#doap--en-008-c">
      Rai, Storm Seer
    </a>
  </td>
  <td style="text-align: left">
    C
  </td>
  <td style="text-align: right">
    Normal ≈7,500
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-009
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/bauble-of-abundance_(card)#doap--en-009-c">
      Bauble of Abundance
    </a>
  </td>
  <td style="text-align: left">
    C
  </td>
  <td style="text-align: right">
    Normal ≈7,500
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-010
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/clarent-sword-of-peace_(card)#doap--en-010-r">
      Clarent, Sword of Peace
    </a>
  </td>
  <td style="text-align: left">
    R
  </td>
  <td style="text-align: right">
    Normal ≈7,500
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-011
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/crystal-of-empowerment_(card)#doap--en-011-c">
      Crystal of Empowerment
    </a>
  </td>
  <td style="text-align: left">
    C
  </td>
  <td style="text-align: right">
    Normal ≈7,500
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-012
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/endura-scepter-of-ignition_(card)#doap--en-012-r">
      Endura, Scepter of Ignition
    </a>
  </td>
  <td style="text-align: left">
    R
  </td>
  <td style="text-align: right">
    Normal ≈7,500
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-013
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/fire-resonance-bauble_(card)#doap--en-013-u">
      Fire Resonance Bauble
    </a>
  </td>
  <td style="text-align: left">
    U
  </td>
  <td style="text-align: right">
    Normal ≈7,500
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-014
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/life-essence-amulet_(card)#doap--en-014-c">
      Life Essence Amulet
    </a>
  </td>
  <td style="text-align: left">
    C
  </td>
  <td style="text-align: right">
    Normal ≈15,000
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-015
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/mana-limiter_(card)#doap--en-015-u">
      Mana Limiter
    </a>
  </td>
  <td style="text-align: left">
    U
  </td>
  <td style="text-align: right">
    Normal ≈7,500
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-016KS
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/orb-of-glitter_(card)#doap--en-016ks-sr">
      Orb of Glitter
    </a>
  </td>
  <td style="text-align: left">
    SR
  </td>
  <td style="text-align: right">
    Normal ≈1,250
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-017
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/ornamental-greatsword_(card)#doap--en-017-c">
      Ornamental Greatsword
    </a>
  </td>
  <td style="text-align: left">
    C
  </td>
  <td style="text-align: right">
    Normal ≈7,500
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-018
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/seers-sword_(card)#doap--en-018-u">
      Seer's Sword
    </a>
  </td>
  <td style="text-align: left">
    U
  </td>
  <td style="text-align: right">
    Normal ≈7,500
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-019
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/surveillance-stone_(card)#doap--en-019-u">
      Surveillance Stone
    </a>
  </td>
  <td style="text-align: left">
    U
  </td>
  <td style="text-align: right">
    Normal ≈7,500
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-020
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/sword-of-seeking_(card)#doap--en-020-u">
      Sword of Seeking
    </a>
  </td>
  <td style="text-align: left">
    U
  </td>
  <td style="text-align: right">
    Normal ≈7,500
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-021
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/tome-of-knowledge_(card)#doap--en-021-u">
      Tome of Knowledge
    </a>
  </td>
  <td style="text-align: left">
    U
  </td>
  <td style="text-align: right">
    Normal ≈7,500
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-022
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/warriors-longsword_(card)#doap--en-022-u">
      Warrior's Longsword
    </a>
  </td>
  <td style="text-align: left">
    U
  </td>
  <td style="text-align: right">
    Normal ≈7,500
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-023
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/wind-resonance-bauble_(card)#doap--en-023-u">
      Wind Resonance Bauble
    </a>
  </td>
  <td style="text-align: left">
    U
  </td>
  <td style="text-align: right">
    Normal ≈7,500
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-024
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/arcane.png" alt="ARCANE element" />
    <a href="/arcanists-prism_(card)#doap--en-024-sr">
      Arcanist's Prism
    </a>
  </td>
  <td style="text-align: left">
    SR
  </td>
  <td style="text-align: right">
    Normal ≈7,500
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-025
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/crux.png" alt="CRUX element" />
    <a href="/prismatic-edge_(card)#doap--en-025-sr">
      Prismatic Edge
    </a>
  </td>
  <td style="text-align: left">
    SR
  </td>
  <td style="text-align: right">
    Normal ≈7,500
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-026
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/banner-knight_(card)#doap--en-026-c">
      Banner Knight
    </a>
  </td>
  <td style="text-align: left">
    C
  </td>
  <td style="text-align: right">
    Normal ≈22,500
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-027
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/barrier-servant_(card)#doap--en-027-c">
      Barrier Servant
    </a>
  </td>
  <td style="text-align: left">
    C
  </td>
  <td style="text-align: right">
    Normal ≈22,500
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-028
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/careful-study_(card)#doap--en-028-c">
      Careful Study
    </a>
  </td>
  <td style="text-align: left">
    C
  </td>
  <td style="text-align: right">
    Normal ≈15,000
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-029
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/conceal_(card)#doap--en-029-c">
      Conceal
    </a>
  </td>
  <td style="text-align: left">
    C
  </td>
  <td style="text-align: right">
    Normal ≈7,500
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-030
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/crusader-of-aesa_(card)#doap--en-030-c">
      Crusader of Aesa
    </a>
  </td>
  <td style="text-align: left">
    C
  </td>
  <td style="text-align: right">
    Normal ≈30,000
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-031
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/deflecting-edge_(card)#doap--en-031-c">
      Deflecting Edge
    </a>
  </td>
  <td style="text-align: left">
    C
  </td>
  <td style="text-align: right">
    Normal ≈7,500
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-032
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/dungeon-guide_(card)#doap--en-032-r">
      Dungeon Guide
    </a>
  </td>
  <td style="text-align: left">
    R
  </td>
  <td style="text-align: right">
    Normal ≈30,000
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-032KS
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/dungeon-guide_(card)#doap--en-032ks-r">
      Dungeon Guide
    </a>
  </td>
  <td style="text-align: left">
    R
  </td>
  <td style="text-align: right">
    Normal ≈2,500
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-033
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/enraged-boars_(card)#doap--en-033-c">
      Enraged Boars
    </a>
  </td>
  <td style="text-align: left">
    C
  </td>
  <td style="text-align: right">
    Normal ≈7,500
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-034
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/esteemed-knight_(card)#doap--en-034-c">
      Esteemed Knight
    </a>
  </td>
  <td style="text-align: left">
    C
  </td>
  <td style="text-align: right">
    Normal ≈30,000
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-035KS
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/galahad-court-knight_(card)#doap--en-035ks-sr">
      Galahad, Court Knight
    </a>
  </td>
  <td style="text-align: left">
    SR
  </td>
  <td style="text-align: right">
    Normal ≈1,250
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-036KS
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/gildas-chronicler-of-aesa_(card)#doap--en-036ks-sr">
      Gildas, Chronicler of Aesa
    </a>
  </td>
  <td style="text-align: left">
    SR
  </td>
  <td style="text-align: right">
    Normal ≈1,250
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-037
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/gray-wolf_(card)#doap--en-037-c">
      Gray Wolf
    </a>
  </td>
  <td style="text-align: left">
    C
  </td>
  <td style="text-align: right">
    Normal ≈7,500
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-038
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/honorable-vanguard_(card)#doap--en-038-c">
      Honorable Vanguard
    </a>
  </td>
  <td style="text-align: left">
    C
  </td>
  <td style="text-align: right">
    Normal ≈30,000
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-039
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/idle-thoughts_(card)#doap--en-039-c">
      Idle Thoughts
    </a>
  </td>
  <td style="text-align: left">
    C
  </td>
  <td style="text-align: right">
    Normal ≈7,500
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-040
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/inspiring-call_(card)#doap--en-040-c">
      Inspiring Call
    </a>
  </td>
  <td style="text-align: left">
    C
  </td>
  <td style="text-align: right">
    Normal ≈15,000
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-041
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/invigorated-slash_(card)#doap--en-041-u">
      Invigorated Slash
    </a>
  </td>
  <td style="text-align: left">
    U
  </td>
  <td style="text-align: right">
    Normal ≈4,000
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-042
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/library-witch_(card)#doap--en-042-c">
      Library Witch
    </a>
  </td>
  <td style="text-align: left">
    C
  </td>
  <td style="text-align: right">
    Normal ≈30,000
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-043
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/magus-disciple_(card)#doap--en-043-c">
      Magus Disciple
    </a>
  </td>
  <td style="text-align: left">
    C
  </td>
  <td style="text-align: right">
    Normal ≈22,500
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-044KS
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/nimue-cursed-touch_(card)#doap--en-044ks-sr">
      Nimue, Cursed Touch
    </a>
  </td>
  <td style="text-align: left">
    SR
  </td>
  <td style="text-align: right">
    Normal ≈1,250
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-045
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/opening-cut_(card)#doap--en-045-c">
      Opening Cut
    </a>
  </td>
  <td style="text-align: left">
    C
  </td>
  <td style="text-align: right">
    Normal ≈7,500
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-046
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/owl-familiar_(card)#doap--en-046-c">
      Owl Familiar
    </a>
  </td>
  <td style="text-align: left">
    C
  </td>
  <td style="text-align: right">
    Normal ≈7,500
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-047
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/peer-into-mana_(card)#doap--en-047-c">
      Peer into Mana
    </a>
  </td>
  <td style="text-align: left">
    C
  </td>
  <td style="text-align: right">
    Normal ≈30,000
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-048
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/reckless-slash_(card)#doap--en-048-c">
      Reckless Slash
    </a>
  </td>
  <td style="text-align: left">
    C
  </td>
  <td style="text-align: right">
    Normal ≈7,500
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-049
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/refurbish_(card)#doap--en-049-c">
      Refurbish
    </a>
  </td>
  <td style="text-align: left">
    C
  </td>
  <td style="text-align: right">
    Normal ≈7,500
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-050
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/savage-slash_(card)#doap--en-050-c">
      Savage Slash
    </a>
  </td>
  <td style="text-align: left">
    C
  </td>
  <td style="text-align: right">
    Normal ≈22,500
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-051
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/scry-the-skies_(card)#doap--en-051-c">
      Scry the Skies
    </a>
  </td>
  <td style="text-align: left">
    C
  </td>
  <td style="text-align: right">
    Normal ≈60,000
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-052
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/sudden-steel_(card)#doap--en-052-c">
      Sudden Steel
    </a>
  </td>
  <td style="text-align: left">
    C
  </td>
  <td style="text-align: right">
    Normal ≈15,000
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-053
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/training-session_(card)#doap--en-053-c">
      Training Session
    </a>
  </td>
  <td style="text-align: left">
    C
  </td>
  <td style="text-align: right">
    Normal ≈7,500
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-054
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/trusty-steed_(card)#doap--en-054-c">
      Trusty Steed
    </a>
  </td>
  <td style="text-align: left">
    C
  </td>
  <td style="text-align: right">
    Normal ≈7,500
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-055
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/veteran-soldier_(card)#doap--en-055-c">
      Veteran Soldier
    </a>
  </td>
  <td style="text-align: left">
    C
  </td>
  <td style="text-align: right">
    Normal ≈7,500
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-056
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/weaponsmith_(card)#doap--en-056-c">
      Weaponsmith
    </a>
  </td>
  <td style="text-align: left">
    C
  </td>
  <td style="text-align: right">
    Normal ≈30,000
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-057
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/woodland-squirrels_(card)#doap--en-057-c">
      Woodland Squirrels
    </a>
  </td>
  <td style="text-align: left">
    C
  </td>
  <td style="text-align: right">
    Normal ≈7,500
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-058
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
    <a href="/blazing-throw_(card)#doap--en-058-c">
      Blazing Throw
    </a>
  </td>
  <td style="text-align: left">
    C
  </td>
  <td style="text-align: right">
    Normal ≈7,500
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-059
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
    <a href="/blitz-mage_(card)#doap--en-059-u">
      Blitz Mage
    </a>
  </td>
  <td style="text-align: left">
    U
  </td>
  <td style="text-align: right">
    Normal ≈15,000
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-060
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
    <a href="/creative-shock_(card)#doap--en-060-u">
      Creative Shock
    </a>
  </td>
  <td style="text-align: left">
    U
  </td>
  <td style="text-align: right">
    Normal ≈30,000
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-061
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
    <a href="/cremation-ritual_(card)#doap--en-061-c">
      Cremation Ritual
    </a>
  </td>
  <td style="text-align: left">
    C
  </td>
  <td style="text-align: right">
    Normal ≈7,500
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-062
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
    <a href="/devastating-blow_(card)#doap--en-062-u">
      Devastating Blow
    </a>
  </td>
  <td style="text-align: left">
    U
  </td>
  <td style="text-align: right">
    Normal ≈4,000
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-063KS
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
    <a href="/disintegrate_(card)#doap--en-063ks-r">
      Disintegrate
    </a>
  </td>
  <td style="text-align: left">
    R
  </td>
  <td style="text-align: right">
    Normal ≈2,500
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-064
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
    <a href="/fiery-momentum_(card)#doap--en-064-u">
      Fiery Momentum
    </a>
  </td>
  <td style="text-align: left">
    U
  </td>
  <td style="text-align: right">
    Normal ≈4,000
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-065
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
    <a href="/fireball_(card)#doap--en-065-c">
      Fireball
    </a>
  </td>
  <td style="text-align: left">
    C
  </td>
  <td style="text-align: right">
    Normal ≈30,000
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-066
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
    <a href="/flame-rune-swordsman_(card)#doap--en-066-c">
      Flame-Rune Swordsman
    </a>
  </td>
  <td style="text-align: left">
    C
  </td>
  <td style="text-align: right">
    Normal ≈7,500
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-067KS
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
    <a href="/flame-sweep_(card)#doap--en-067ks-r">
      Flame Sweep
    </a>
  </td>
  <td style="text-align: left">
    R
  </td>
  <td style="text-align: right">
    Normal ≈2,500
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-068
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
    <a href="/focused-flames_(card)#doap--en-068-u">
      Focused Flames
    </a>
  </td>
  <td style="text-align: left">
    U
  </td>
  <td style="text-align: right">
    Normal ≈15,000
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-069
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
    <a href="/ignite-the-soul_(card)#doap--en-069-c">
      Ignite the Soul
    </a>
  </td>
  <td style="text-align: left">
    C
  </td>
  <td style="text-align: right">
    Normal ≈30,000
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-070
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
    <a href="/impassioned-tutor_(card)#doap--en-070-u">
      Impassioned Tutor
    </a>
  </td>
  <td style="text-align: left">
    U
  </td>
  <td style="text-align: right">
    Normal ≈22,500
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-071
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
    <a href="/increasing-danger_(card)#doap--en-071-u">
      Increasing Danger
    </a>
  </td>
  <td style="text-align: left">
    U
  </td>
  <td style="text-align: right">
    Normal ≈4,000
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-072
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
    <a href="/purge-in-flames_(card)#doap--en-072-r">
      Purge in Flames
    </a>
  </td>
  <td style="text-align: left">
    R
  </td>
  <td style="text-align: right">
    Normal ≈15,000
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-072KS
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
    <a href="/purge-in-flames_(card)#doap--en-072ks-r">
      Purge in Flames
    </a>
  </td>
  <td style="text-align: left">
    R
  </td>
  <td style="text-align: right">
    Normal ≈2,500
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-073
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
    <a href="/reckless-researcher_(card)#doap--en-073-u">
      Reckless Researcher
    </a>
  </td>
  <td style="text-align: left">
    U
  </td>
  <td style="text-align: right">
    Normal ≈4,000
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-074
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
    <a href="/rending-flames_(card)#doap--en-074-u">
      Rending Flames
    </a>
  </td>
  <td style="text-align: left">
    U
  </td>
  <td style="text-align: right">
    Normal ≈4,000
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-075
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
    <a href="/spark-alight_(card)#doap--en-075-c">
      Spark Alight
    </a>
  </td>
  <td style="text-align: left">
    C
  </td>
  <td style="text-align: right">
    Normal ≈7,500
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-076
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
    <a href="/spurn-to-ash_(card)#doap--en-076-u">
      Spurn to Ash
    </a>
  </td>
  <td style="text-align: left">
    U
  </td>
  <td style="text-align: right">
    Normal ≈4,000
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-077
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
    <a href="/tempered-steel_(card)#doap--en-077-c">
      Tempered Steel
    </a>
  </td>
  <td style="text-align: left">
    C
  </td>
  <td style="text-align: right">
    Normal ≈7,500
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-078
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
    <a href="/aesan-protector_(card)#doap--en-078-u">
      Aesan Protector
    </a>
  </td>
  <td style="text-align: left">
    U
  </td>
  <td style="text-align: right">
    Normal ≈4,000
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-079
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
    <a href="/combo-strike_(card)#doap--en-079-u">
      Combo Strike
    </a>
  </td>
  <td style="text-align: left">
    U
  </td>
  <td style="text-align: right">
    Normal ≈4,000
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-080
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
    <a href="/disorienting-winds_(card)#doap--en-080-u">
      Disorienting Winds
    </a>
  </td>
  <td style="text-align: left">
    U
  </td>
  <td style="text-align: right">
    Normal ≈19,000
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-081
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
    <a href="/dream-fairy_(card)#doap--en-081-r">
      Dream Fairy
    </a>
  </td>
  <td style="text-align: left">
    R
  </td>
  <td style="text-align: right">
    Normal ≈22,500
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-082
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
    <a href="/fairy-whispers_(card)#doap--en-082-u">
      Fairy Whispers
    </a>
  </td>
  <td style="text-align: left">
    U
  </td>
  <td style="text-align: right">
    Normal ≈4,000
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-083
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
    <a href="/favorable-winds_(card)#doap--en-083-c">
      Favorable Winds
    </a>
  </td>
  <td style="text-align: left">
    C
  </td>
  <td style="text-align: right">
    Normal ≈22,500
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-084
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
    <a href="/hurricane-sweep_(card)#doap--en-084-r">
      Hurricane Sweep
    </a>
  </td>
  <td style="text-align: left">
    R
  </td>
  <td style="text-align: right">
    Normal ≈15,000
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-085
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
    <a href="/rallied-advance_(card)#doap--en-085-c">
      Rallied Advance
    </a>
  </td>
  <td style="text-align: left">
    C
  </td>
  <td style="text-align: right">
    Normal ≈7,500
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-086KS
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
    <a href="/ravaging-tempest_(card)#doap--en-086ks-r">
      Ravaging Tempest
    </a>
  </td>
  <td style="text-align: left">
    R
  </td>
  <td style="text-align: right">
    Normal ≈2,500
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-087
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
    <a href="/reclaim_(card)#doap--en-087-c">
      Reclaim
    </a>
  </td>
  <td style="text-align: left">
    C
  </td>
  <td style="text-align: right">
    Normal ≈7,500
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-088KS
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
    <a href="/scattering-gusts_(card)#doap--en-088ks-r">
      Scattering Gusts
    </a>
  </td>
  <td style="text-align: left">
    R
  </td>
  <td style="text-align: right">
    Normal ≈2,500
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-089
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
    <a href="/second-wind_(card)#doap--en-089-u">
      Second Wind
    </a>
  </td>
  <td style="text-align: left">
    U
  </td>
  <td style="text-align: right">
    Normal ≈4,000
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-090
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
    <a href="/swift-recruit_(card)#doap--en-090-c">
      Swift Recruit
    </a>
  </td>
  <td style="text-align: left">
    C
  </td>
  <td style="text-align: right">
    Normal ≈7,500
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-091
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
    <a href="/tactful-sergeant_(card)#doap--en-091-u">
      Tactful Sergeant
    </a>
  </td>
  <td style="text-align: left">
    U
  </td>
  <td style="text-align: right">
    Normal ≈4,000
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-092
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
    <a href="/trained-hawk_(card)#doap--en-092-c">
      Trained Hawk
    </a>
  </td>
  <td style="text-align: left">
    C
  </td>
  <td style="text-align: right">
    Normal ≈7,500
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-093
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
    <a href="/unveiling-breeze_(card)#doap--en-093-c">
      Unveiling Breeze
    </a>
  </td>
  <td style="text-align: left">
    C
  </td>
  <td style="text-align: right">
    Normal ≈7,500
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-094
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
    <a href="/wind-cutter_(card)#doap--en-094-c">
      Wind Cutter
    </a>
  </td>
  <td style="text-align: left">
    C
  </td>
  <td style="text-align: right">
    Normal ≈22,500
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-095
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/arcane.png" alt="ARCANE element" />
    <a href="/anger-the-skies_(card)#doap--en-095-u">
      Anger the Skies
    </a>
  </td>
  <td style="text-align: left">
    U
  </td>
  <td style="text-align: right">
    Normal ≈19,000
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-096
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/arcane.png" alt="ARCANE element" />
    <a href="/arcane-blast_(card)#doap--en-096-u">
      Arcane Blast
    </a>
  </td>
  <td style="text-align: left">
    U
  </td>
  <td style="text-align: right">
    Normal ≈30,000
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-097
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/arcane.png" alt="ARCANE element" />
    <a href="/arcane-disposition_(card)#doap--en-097-u">
      Arcane Disposition
    </a>
  </td>
  <td style="text-align: left">
    U
  </td>
  <td style="text-align: right">
    Normal ≈30,000
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-098
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/arcane.png" alt="ARCANE element" />
    <a href="/arcane-sight_(card)#doap--en-098-u">
      Arcane Sight
    </a>
  </td>
  <td style="text-align: left">
    U
  </td>
  <td style="text-align: right">
    Normal ≈30,000
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-099
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/arcane.png" alt="ARCANE element" />
    <a href="/power-overwhelming_(card)#doap--en-099-sr">
      Power Overwhelming
    </a>
  </td>
  <td style="text-align: left">
    SR
  </td>
  <td style="text-align: right">
    Normal ≈7,500
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-099KS
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/arcane.png" alt="ARCANE element" />
    <a href="/power-overwhelming_(card)#doap--en-099ks-sr">
      Power Overwhelming
    </a>
  </td>
  <td style="text-align: left">
    SR
  </td>
  <td style="text-align: right">
    Normal ≈2,500
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-100KS
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/arcane.png" alt="ARCANE element" />
    <a href="/reckless-conversion_(card)#doap--en-100ks-sr">
      Reckless Conversion
    </a>
  </td>
  <td style="text-align: left">
    SR
  </td>
  <td style="text-align: right">
    Normal ≈1,250
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-101
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/arcane.png" alt="ARCANE element" />
    <a href="/spellshield-arcane_(card)#doap--en-101-r">
      Spellshield: Arcane
    </a>
  </td>
  <td style="text-align: left">
    R
  </td>
  <td style="text-align: right">
    Normal ≈15,000
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-102
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/crux.png" alt="CRUX element" />
    <a href="/crux-sight_(card)#doap--en-102-u">
      Crux Sight
    </a>
  </td>
  <td style="text-align: left">
    U
  </td>
  <td style="text-align: right">
    Normal ≈22,500
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-103KS
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/crux.png" alt="CRUX element" />
    <a href="/ghosts-of-pendragon_(card)#doap--en-103ks-sr">
      Ghosts of Pendragon
    </a>
  </td>
  <td style="text-align: left">
    SR
  </td>
  <td style="text-align: right">
    Normal ≈1,250
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-104
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/crux.png" alt="CRUX element" />
    <a href="/spirit-blade-ascension_(card)#doap--en-104-r">
      Spirit Blade: Ascension
    </a>
  </td>
  <td style="text-align: left">
    R
  </td>
  <td style="text-align: right">
    Normal ≈15,000
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-104KS
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/crux.png" alt="CRUX element" />
    <a href="/spirit-blade-ascension_(card)#doap--en-104ks-r">
      Spirit Blade: Ascension
    </a>
  </td>
  <td style="text-align: left">
    R
  </td>
  <td style="text-align: right">
    Normal ≈2,500
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-105
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/crux.png" alt="CRUX element" />
    <a href="/spirit-blade-dispersion_(card)#doap--en-105-r">
      Spirit Blade: Dispersion
    </a>
  </td>
  <td style="text-align: left">
    R
  </td>
  <td style="text-align: right">
    Normal ≈7,500
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-105KS
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/crux.png" alt="CRUX element" />
    <a href="/spirit-blade-dispersion_(card)#doap--en-105ks-r">
      Spirit Blade: Dispersion
    </a>
  </td>
  <td style="text-align: left">
    R
  </td>
  <td style="text-align: right">
    Normal ≈2,500
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-106
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/crux.png" alt="CRUX element" />
    <a href="/spirit-blade-ghost-strike_(card)#doap--en-106-u">
      Spirit Blade: Ghost Strike
    </a>
  </td>
  <td style="text-align: left">
    U
  </td>
  <td style="text-align: right">
    Normal ≈30,000
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-107
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/crux.png" alt="CRUX element" />
    <a href="/spirit-blade-infusion_(card)#doap--en-107-u">
      Spirit Blade: Infusion
    </a>
  </td>
  <td style="text-align: left">
    U
  </td>
  <td style="text-align: right">
    Normal ≈19,000
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-108
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/crux.png" alt="CRUX element" />
    <a href="/spirits-blessing_(card)#doap--en-108-r">
      Spirit's Blessing
    </a>
  </td>
  <td style="text-align: left">
    R
  </td>
  <td style="text-align: right">
    Normal ≈22,500
  </td>
</tr>
</tbody>
</table>