<p>This card is part of the <a href="/DOAp_(set)">Dawn of Ashes Prelude</a> set.</p>
<div class="card-template">
  <figure class="image">
    <img
      src="https://img.silvie.org/api-data/MpIDRIgOoI.jpg"
      alt="Dream Fairy &ndash; DOAp &middot; EN-081"
      style="max-width: 440px;"
    >
    <figcaption>Dream Fairy &ndash; DOAp &middot; EN-081</figcaption>
  </figure>
  <div class="card-template-stats">
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Effect</span>
      <span class="card-template-stat-values">
        <span class="card-template-stat-values-effect">
          <span class="effect__label">Stealth</span> <span class="effect__reminder">(This unit can't be targeted by attacks unless permitted by <span class="effect__label">true sight</span>.)</span>
<span class="effect__label">On Enter:</span> Each opponent banishes a card at random from their memory.
<span class="effect__label">On Death:</span> Each opponent draws a card.
        </span>
      </span>
    </div>
    
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Illustrator</span>
      <span class="card-template-stat-values">
        <span class="dead-link"><a href="/illustrators">Hanh Chu</a></span>
      </span>
    </div>
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Population</span>
      <span class="card-template-stat-values">
        <div>Normal &ndash; ≈22,500</div>
      </span>
    </div>
  </div>
  <p>
    For the full card stats, <a href="https://index.gatcg.com/edition/dream-fairy-doap">view this card on Grand Archive Index</a>.
  </p>
</div>