<p>This card is part of the <a href="/DOAp_(set)">Dawn of Ashes Prelude</a> set.</p>
<div class="card-template">
  <figure class="image">
    <img
      src="https://img.silvie.org/api-data/a2NCLoSyXC.jpg"
      alt="Dungeon Guide &ndash; DOAp &middot; EN-032KS"
      style="max-width: 440px;"
    >
    <figcaption>Dungeon Guide &ndash; DOAp &middot; EN-032KS</figcaption>
  </figure>
  <div class="card-template-stats">
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Effect</span>
      <span class="card-template-stat-values">
        <span class="card-template-stat-values-effect">
          <span class="effect__label">On Enter:</span> You may banish two cards at random from your memory. If you do, your champion levels up. <span class="effect__reminder">(Your champion levels up into a compatible champion card from your material deck, ignoring materialization costs.)</span>
        </span>
      </span>
    </div>
        <div class="card-template-stat">
      <span class="card-template-stat-heading">Rules</span>
      <span class="card-template-stat-values"><span class="card-template-stat-values-rule">2022-03-10 &ndash; Dungeon Guide's ability of banishing two cards from your memory is not considered a cost. This means that you can't use Floating Memory to pay for this effect.</span><span class="card-template-stat-values-rule">2022-03-10 &ndash; Leveling up wakes up your champion.</span></span>
    </div>
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Illustrator</span>
      <span class="card-template-stat-values">
        <span class="dead-link"><a href="/illustrators">NR</a></span>
      </span>
    </div>
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Population</span>
      <span class="card-template-stat-values">
        <div>Normal &ndash; ≈2,500</div>
      </span>
    </div>
  </div>
  <p>
    For the full card stats, <a href="https://index.gatcg.com/edition/dungeon-guide-doap-2">view this card on Grand Archive Index</a>.
  </p>
</div>