<p>This card is part of the <a href="/DOAp_(set)">Dawn of Ashes Prelude</a> set.</p>
<div class="card-template">
  <figure class="image">
    <img
      src="https://img.silvie.org/api-data/zPLTy7x1XL.jpg"
      alt="Galahad, Court Knight &ndash; DOAp &middot; EN-035KS"
      style="max-width: 440px;"
    >
    <figcaption>Galahad, Court Knight &ndash; DOAp &middot; EN-035KS</figcaption>
  </figure>
  <div class="card-template-stats">
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Effect</span>
      <span class="card-template-stat-values">
        <span class="card-template-stat-values-effect">
          <span class="effect__reminder">(Unique — You may control only one object with this card's name.)</span>
<span class="effect__bubble">Class Bonus</span>Galahad can attack using Sword weapons you control.
        </span>
      </span>
    </div>
        <div class="card-template-stat">
      <span class="card-template-stat-heading">Rules</span>
      <span class="card-template-stat-values"><span class="card-template-stat-values-rule">2022-03-10 &ndash; If Galahad uses a weapon, a durability counter on that weapon is removed as normal when damage is dealt. In addition, the weapon's effects are applied as normal.</span></span>
    </div>
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Illustrator</span>
      <span class="card-template-stat-values">
        <span class="dead-link"><a href="/illustrators">D Lam</a></span>
      </span>
    </div>
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Population</span>
      <span class="card-template-stat-values">
        <div>Normal &ndash; ≈1,250</div>
      </span>
    </div>
  </div>
  <p>
    For the full card stats, <a href="https://index.gatcg.com/edition/galahad-court-knight-doap">view this card on Grand Archive Index</a>.
  </p>
</div>