<p>This card is part of the <a href="/DOAp_(set)">Dawn of Ashes Prelude</a> set.</p>
<div class="card-template">
  <figure class="image">
    <img
      src="https://img.silvie.org/api-data/P7HUyoVVKD.jpg"
      alt="Gildas, Chronicler of Aesa &ndash; DOAp &middot; EN-036KS"
      style="max-width: 440px;"
    >
    <figcaption>Gildas, Chronicler of Aesa &ndash; DOAp &middot; EN-036KS</figcaption>
  </figure>
  <div class="card-template-stats">
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Effect</span>
      <span class="card-template-stat-values">
        <span class="card-template-stat-values-effect">
          <span class="effect__reminder">(Unique — You may control only one object with this card's name.)</span>
Gildas gets +3<span class="effect__icon effect__icon--sword"></span> as long as the amount of cards in your hand and memory are equal. 
        </span>
      </span>
    </div>
    
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Illustrator</span>
      <span class="card-template-stat-values">
        <span class="dead-link"><a href="/illustrators">Hanh Chu</a></span>
      </span>
    </div>
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Population</span>
      <span class="card-template-stat-values">
        <div>Normal &ndash; ≈1,250</div>
      </span>
    </div>
  </div>
  <p>
    For the full card stats, <a href="https://index.gatcg.com/edition/gildas-chronicler-of-aesa-doap">view this card on Grand Archive Index</a>.
  </p>
</div>