<p>This card is part of the <a href="/DOAp_(set)">Dawn of Ashes Prelude</a> set.</p>
<div class="card-template">
  <figure class="image">
    <img
      src="https://img.silvie.org/api-data/VhnWSG9ylR.jpg"
      alt="Gray Wolf &ndash; DOAp &middot; EN-037"
      style="max-width: 440px;"
    >
    <figcaption>Gray Wolf &ndash; DOAp &middot; EN-037</figcaption>
  </figure>
  <div class="card-template-stats">
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Effect</span>
      <span class="card-template-stat-values">
        <span class="card-template-stat-values-effect">
          <span class="effect__label">Pride 2</span> <span class="effect__reminder">(This ally won't obey you unless your champion is level 2 or higher.)</span>
        </span>
      </span>
    </div>
        <div class="card-template-stat">
      <span class="card-template-stat-heading">Rules</span>
      <span class="card-template-stat-values"><span class="card-template-stat-values-rule">2022-03-10 &ndash; A unit that does not obey you can't attack, intercept, retaliate, and its activated abilities can't be activated.</span></span>
    </div>
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Illustrator</span>
      <span class="card-template-stat-values">
        <span class="dead-link"><a href="/illustrators">漫道</a></span>
      </span>
    </div>
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Population</span>
      <span class="card-template-stat-values">
        <div>Normal &ndash; ≈7,500</div>
      </span>
    </div>
  </div>
  <p>
    For the full card stats, <a href="https://index.gatcg.com/edition/gray-wolf-doap">view this card on Grand Archive Index</a>.
  </p>
</div>