<p>This card is part of the <a href="/DOAp_(set)">Dawn of Ashes Prelude</a> set.</p>
<div class="card-template">
  <figure class="image">
    <img
      src="https://img.silvie.org/api-data/A0IGBIN2d8.jpg"
      alt="Library Witch &ndash; DOAp &middot; EN-042"
      style="max-width: 440px;"
    >
    <figcaption>Library Witch &ndash; DOAp &middot; EN-042</figcaption>
  </figure>
  <div class="card-template-stats">
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Effect</span>
      <span class="card-template-stat-values">
        <span class="card-template-stat-values-effect">
          <span class="effect__label">Intercept</span> <span class="effect__reminder">(When your champion is attacked while this ally is awake, you may redirect that attack to this ally.)</span>
<span class="effect__label">On Death:</span> Draw a card. 
        </span>
      </span>
    </div>
    
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Illustrator</span>
      <span class="card-template-stat-values">
        <span class="dead-link"><a href="/illustrators">Hanh Chu</a></span>
      </span>
    </div>
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Population</span>
      <span class="card-template-stat-values">
        <div>Normal &ndash; ≈30,000</div>
      </span>
    </div>
  </div>
  <p>
    For the full card stats, <a href="https://index.gatcg.com/edition/library-witch-doap">view this card on Grand Archive Index</a>.
  </p>
</div>