<p>This card is part of the <a href="/DEMO22_(set)">LGS Demo 2022</a> set.</p>
<div class="card-template">
  <figure class="image">
    <img
      src="https://img.silvie.org/api-data/XztBsVXFLP.jpg"
      alt="Life Essence Amulet &ndash; DEMO22 &middot; EN-004"
      style="max-width: 440px;"
    >
    <figcaption>Life Essence Amulet &ndash; DEMO22 &middot; EN-004</figcaption>
  </figure>
  <div class="card-template-stats">
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Effect</span>
      <span class="card-template-stat-values">
        <span class="card-template-stat-values-effect">
          Whenever an ally you control dies while it is not your turn, you may banish Life Essence Amulet. If you do, draw a card.
        </span>
      </span>
    </div>
    
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Illustrator</span>
      <span class="card-template-stat-values">
        <span class="dead-link"><a href="/illustrators">漫道</a></span>
      </span>
    </div>
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Population</span>
      <span class="card-template-stat-values">
        <div>Normal &ndash; ≈12,000</div>
      </span>
    </div>
  </div>
  <p>
    For the full card stats, <a href="https://index.gatcg.com/edition/life-essence-amulet-demo22">view this card on Grand Archive Index</a>.
  </p>
</div>