<p>This card is part of the <a href="/DOAp_(set)">Dawn of Ashes Prelude</a> set.</p>
<div class="card-template">
  <figure class="image">
    <img
      src="https://img.silvie.org/api-data/OKOTXSMM5P.jpg"
      alt="Lorraine, Crux Knight &ndash; DOAp &middot; EN-005"
      style="max-width: 440px;"
    >
    <figcaption>Lorraine, Crux Knight &ndash; DOAp &middot; EN-005</figcaption>
  </figure>
  <div class="card-template-stats">
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Effect</span>
      <span class="card-template-stat-values">
        <span class="card-template-stat-values-effect">
          <span class="effect__label">Lorraine Lineage</span> <span class="effect__reminder">(Lorraine, Crux Knight must be leveled from a previous level "Lorraine" champion.)</span>
<span class="effect__reminder">(Crux element is enabled for you.)</span>
Lorraine's attacks get +1<span class="effect__icon effect__icon--sword"></span> for each regalia weapon card in your banishment. 
        </span>
      </span>
    </div>
        <div class="card-template-stat">
      <span class="card-template-stat-heading">Rules</span>
      <span class="card-template-stat-values"><span class="card-template-stat-values-rule">2022-03-10 &ndash; With Lorraine's static effect, her attacks get the additional effects, not Lorraine herself. This means that Lorraine still needs a weapon or attack card in order to declare attacks because she does not have an attack stat.</span></span>
    </div>
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Illustrator</span>
      <span class="card-template-stat-values">
        <span class="dead-link"><a href="/illustrators">Hori</a></span>
      </span>
    </div>
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Population</span>
      <span class="card-template-stat-values">
        <div>Normal &ndash; ≈7,500</div>
      </span>
    </div>
  </div>
  <p>
    For the full card stats, <a href="https://index.gatcg.com/edition/lorraine-crux-knight-doap">view this card on Grand Archive Index</a>.
  </p>
</div>