<p>This card is part of the <a href="/DOAp_(set)">Dawn of Ashes Prelude</a> set.</p>
<div class="card-template">
  <figure class="image">
    <img
      src="https://img.silvie.org/api-data/gtPUR2RQc8.jpg"
      alt="Mana Limiter &ndash; DOAp &middot; EN-015"
      style="max-width: 440px;"
    >
    <figcaption>Mana Limiter &ndash; DOAp &middot; EN-015</figcaption>
  </figure>
  <div class="card-template-stats">
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Effect</span>
      <span class="card-template-stat-values">
        <span class="card-template-stat-values-effect">
          You can't remove <span class="effect__label">enlighten</span> counters from your champion to pay for costs. 
<span class="effect__label">Banish Mana Limiter:</span> Draw a card. Activate this ability only if your champion has 6 or more <span class="effect__label">enlighten</span> counters on them.
        </span>
      </span>
    </div>
        <div class="card-template-stat">
      <span class="card-template-stat-heading">Rules</span>
      <span class="card-template-stat-values"><span class="card-template-stat-values-rule">2022-03-10 &ndash; Mana Limiter's static ability prevents you from using three enlighten counters to draw, in addition to any other effects that require you to remove enlighten counters as a cost.</span></span>
    </div>
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Illustrator</span>
      <span class="card-template-stat-values">
        <span class="dead-link"><a href="/illustrators">漫道</a></span>
      </span>
    </div>
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Population</span>
      <span class="card-template-stat-values">
        <div>Normal &ndash; ≈7,500</div>
      </span>
    </div>
  </div>
  <p>
    For the full card stats, <a href="https://index.gatcg.com/edition/mana-limiter-doap">view this card on Grand Archive Index</a>.
  </p>
</div>