<p>This card is part of the <a href="/DOAp_(set)">Dawn of Ashes Prelude</a> set.</p>
<div class="card-template">
  <figure class="image">
    <img
      src="https://img.silvie.org/api-data/GGqvrmxp8Y.jpg"
      alt="Nimue, Cursed Touch &ndash; DOAp &middot; EN-044KS"
      style="max-width: 440px;"
    >
    <figcaption>Nimue, Cursed Touch &ndash; DOAp &middot; EN-044KS</figcaption>
  </figure>
  <div class="card-template-stats">
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Effect</span>
      <span class="card-template-stat-values">
        <span class="card-template-stat-values-effect">
          <span class="effect__bubble">Class Bonus</span>Whenever you activate an action card that targets an ally, destroy that ally. 
        </span>
      </span>
    </div>
        <div class="card-template-stat">
      <span class="card-template-stat-heading">Rules</span>
      <span class="card-template-stat-values"><span class="card-template-stat-values-rule">2022-03-10 &ndash; If Nimue's effect destroys an ally targeted by an action, and if that action needs that ally to be present to resolve, the action is negated. The action's effects will not happen.</span></span>
    </div>
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Illustrator</span>
      <span class="card-template-stat-values">
        <span class="dead-link"><a href="/illustrators">Hanh Chu</a></span>
      </span>
    </div>
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Population</span>
      <span class="card-template-stat-values">
        <div>Normal &ndash; ≈1,250</div>
      </span>
    </div>
  </div>
  <p>
    For the full card stats, <a href="https://index.gatcg.com/edition/nimue-cursed-touch-doap">view this card on Grand Archive Index</a>.
  </p>
</div>