<p>This card is part of the <a href="/DOAp_(set)">Dawn of Ashes Prelude</a> set.</p>
<div class="card-template">
  <figure class="image">
    <img
      src="https://img.silvie.org/api-data/Woa1K0GUWh.jpg"
      alt="Orb of Glitter &ndash; DOAp &middot; EN-016KS"
      style="max-width: 440px;"
    >
    <figcaption>Orb of Glitter &ndash; DOAp &middot; EN-016KS</figcaption>
  </figure>
  <div class="card-template-stats">
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Effect</span>
      <span class="card-template-stat-values">
        <span class="card-template-stat-values-effect">
          At the beginning of your recollection phase, <span class="effect__label">glimpse 1</span>.
<span class="effect__label">Banish Orb of Glitter:</span> Draw a card.
        </span>
      </span>
    </div>
    
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Illustrator</span>
      <span class="card-template-stat-values">
        <span class="dead-link"><a href="/illustrators">漫道</a></span>
      </span>
    </div>
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Population</span>
      <span class="card-template-stat-values">
        <div>Normal &ndash; ≈1,250</div>
      </span>
    </div>
  </div>
  <p>
    For the full card stats, <a href="https://index.gatcg.com/edition/orb-of-glitter-doap">view this card on Grand Archive Index</a>.
  </p>
</div>