<p>This card is part of the <a href="/DOAp_(set)">Dawn of Ashes Prelude</a> set.</p>
<div class="card-template">
  <figure class="image">
    <img
      src="https://img.silvie.org/api-data/lr7hqOfc54.jpg"
      alt="Peer into Mana &ndash; DOAp &middot; EN-047"
      style="max-width: 440px;"
    >
    <figcaption>Peer into Mana &ndash; DOAp &middot; EN-047</figcaption>
  </figure>
  <div class="card-template-stats">
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Effect</span>
      <span class="card-template-stat-values">
        <span class="card-template-stat-values-effect">
          Put 2+<span class="effect__label">LV enlighten</span> counters on your champion. <span class="effect__reminder">(<span class="effect__label">LV</span> refers to your champion's level. You may remove three <span class="effect__label">enlighten</span> counters from your champion to draw a card.)</span>
        </span>
      </span>
    </div>
    
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Illustrator</span>
      <span class="card-template-stat-values">
        <span class="dead-link"><a href="/illustrators">漫道</a></span>
      </span>
    </div>
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Population</span>
      <span class="card-template-stat-values">
        <div>Normal &ndash; ≈30,000</div>
      </span>
    </div>
  </div>
  <p>
    For the full card stats, <a href="https://index.gatcg.com/edition/peer-into-mana-doap">view this card on Grand Archive Index</a>.
  </p>
</div>