<p>This card is part of the <a href="/DOAp_(set)">Dawn of Ashes Prelude</a> set.</p>
<div class="card-template">
  <figure class="image">
    <img
      src="https://img.silvie.org/api-data/7YwfHJaVjZ.jpg"
      alt="Power Overwhelming &ndash; DOAp &middot; EN-099KS"
      style="max-width: 440px;"
    >
    <figcaption>Power Overwhelming &ndash; DOAp &middot; EN-099KS</figcaption>
  </figure>
  <div class="card-template-stats">
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Effect</span>
      <span class="card-template-stat-values">
        <span class="card-template-stat-values-effect">
          Remove any amount of <span class="effect__label">enlighten</span> counters from your champion. Your champion gets +1 level for each counter removed this way until end of turn.
        </span>
      </span>
    </div>
    
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Illustrator</span>
      <span class="card-template-stat-values">
        <span class="dead-link"><a href="/illustrators">漫道</a></span>
      </span>
    </div>
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Population</span>
      <span class="card-template-stat-values">
        <div>Normal &ndash; ≈2,500</div>
      </span>
    </div>
  </div>
  <p>
    For the full card stats, <a href="https://index.gatcg.com/edition/power-overwhelming-doap-2">view this card on Grand Archive Index</a>.
  </p>
</div>