<p>This card is part of the <a href="/DOAp_(set)">Dawn of Ashes Prelude</a> set.</p>
<div class="card-template">
  <figure class="image">
    <img
      src="https://img.silvie.org/api-data/4pG2R8Qegg.jpg"
      alt="Rai, Storm Seer &ndash; DOAp &middot; EN-008"
      style="max-width: 440px;"
    >
    <figcaption>Rai, Storm Seer &ndash; DOAp &middot; EN-008</figcaption>
  </figure>
  <div class="card-template-stats">
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Effect</span>
      <span class="card-template-stat-values">
        <span class="card-template-stat-values-effect">
          <span class="effect__label">Rai Lineage</span> <span class="effect__reminder">(Rai, Storm Seer must be leveled from a previous level "Rai" champion.)</span>
<span class="effect__reminder">(Arcane element is enabled for you.)</span>
Rai gets +1 level for each arcane element mage card in your banishment.
        </span>
      </span>
    </div>
    
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Illustrator</span>
      <span class="card-template-stat-values">
        <span class="dead-link"><a href="/illustrators">Hori</a></span>
      </span>
    </div>
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Population</span>
      <span class="card-template-stat-values">
        <div>Normal &ndash; ≈7,500</div>
      </span>
    </div>
  </div>
  <p>
    For the full card stats, <a href="https://index.gatcg.com/edition/rai-storm-seer-doap">view this card on Grand Archive Index</a>.
  </p>
</div>