<p>This card is part of the <a href="/DOAp_(set)">Dawn of Ashes Prelude</a> set.</p>
<div class="card-template">
  <figure class="image">
    <img
      src="https://img.silvie.org/api-data/T8HANtcnoP.jpg"
      alt="Rai, Spellcrafter &ndash; DOAp &middot; EN-006"
      style="max-width: 440px;"
    >
    <figcaption>Rai, Spellcrafter &ndash; DOAp &middot; EN-006</figcaption>
  </figure>
  <div class="card-template-stats">
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Effect</span>
      <span class="card-template-stat-values">
        <span class="card-template-stat-values-effect">
          <span class="effect__label">On Enter:</span> Put two <span class="effect__label">enlighten</span> counters on Rai. <span class="effect__reminder">(You may remove three <span class="effect__label">enlighten</span> counters from your champion to draw a card.)</span>
        </span>
      </span>
    </div>
    
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Illustrator</span>
      <span class="card-template-stat-values">
        <span class="dead-link"><a href="/illustrators">十尾</a></span>
      </span>
    </div>
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Population</span>
      <span class="card-template-stat-values">
        <div>Normal &ndash; ≈7,500</div>
      </span>
    </div>
  </div>
  <p>
    For the full card stats, <a href="https://index.gatcg.com/edition/rai-spellcrafter-doap">view this card on Grand Archive Index</a>.
  </p>
</div>