<p>This card is part of the <a href="/DOAp_(set)">Dawn of Ashes Prelude</a> set.</p>
<div class="card-template">
  <figure class="image">
    <img
      src="https://img.silvie.org/api-data/afOREBOCmx.jpg"
      alt="Ravaging Tempest &ndash; DOAp &middot; EN-086KS"
      style="max-width: 440px;"
    >
    <figcaption>Ravaging Tempest &ndash; DOAp &middot; EN-086KS</figcaption>
  </figure>
  <div class="card-template-stats">
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Effect</span>
      <span class="card-template-stat-values">
        <span class="card-template-stat-values-effect">
          <span class="effect__label">Efficiency</span> <span class="effect__reminder">(This card costs <span class="effect__label">LV</span> less to activate. <span class="effect__label">LV</span> refers to your champion's level.)</span>
Banish all allies <span class="effect__reminder">(controlled by each player)</span>. For each ally banished this way, its controller draws a card. 
        </span>
      </span>
    </div>
    
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Illustrator</span>
      <span class="card-template-stat-values">
        <span class="dead-link"><a href="/illustrators">漫道</a></span>
      </span>
    </div>
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Population</span>
      <span class="card-template-stat-values">
        <div>Normal &ndash; ≈2,500</div>
      </span>
    </div>
  </div>
  <p>
    For the full card stats, <a href="https://index.gatcg.com/edition/ravaging-tempest-doap">view this card on Grand Archive Index</a>.
  </p>
</div>