<p>This card is part of the <a href="/DOAp_(set)">Dawn of Ashes Prelude</a> set.</p>
<div class="card-template">
  <figure class="image">
    <img
      src="https://img.silvie.org/api-data/aKBLFcgUVY.jpg"
      alt="Reckless Conversion &ndash; DOAp &middot; EN-100KS"
      style="max-width: 440px;"
    >
    <figcaption>Reckless Conversion &ndash; DOAp &middot; EN-100KS</figcaption>
  </figure>
  <div class="card-template-stats">
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Effect</span>
      <span class="card-template-stat-values">
        <span class="card-template-stat-values-effect">
          Put the top two cards of your deck into your memory then banish four cards at random from your memory.
<span class="effect__bubble">Class Bonus</span>Return all cards from your memory to your hand. <span class="effect__reminder">(Apply this effect only if your champion's class matches this card's class.)</span>
        </span>
      </span>
    </div>
    
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Illustrator</span>
      <span class="card-template-stat-values">
        <span class="dead-link"><a href="/illustrators">漫道</a></span>
      </span>
    </div>
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Population</span>
      <span class="card-template-stat-values">
        <div>Normal &ndash; ≈1,250</div>
      </span>
    </div>
  </div>
  <p>
    For the full card stats, <a href="https://index.gatcg.com/edition/reckless-conversion-doap">view this card on Grand Archive Index</a>.
  </p>
</div>