<p>This card is part of the <a href="/DOAp_(set)">Dawn of Ashes Prelude</a> set.</p>
<div class="card-template">
  <figure class="image">
    <img
      src="https://img.silvie.org/api-data/OiOzavefYK.jpg"
      alt="Rending Flames &ndash; DOAp &middot; EN-074"
      style="max-width: 440px;"
    >
    <figcaption>Rending Flames &ndash; DOAp &middot; EN-074</figcaption>
  </figure>
  <div class="card-template-stats">
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Effect</span>
      <span class="card-template-stat-values">
        <span class="card-template-stat-values-effect">
          <span class="effect__bubble">Class Bonus</span><span class="effect__label">On Attack:</span> You may banish three fire element cards from your graveyard. If you do, Rending Flames gains "This attack deals double damage."
        </span>
      </span>
    </div>
        <div class="card-template-stat">
      <span class="card-template-stat-heading">Rules</span>
      <span class="card-template-stat-values"><span class="card-template-stat-values-rule">2022-03-10 &ndash; If Rending Flames deals double damage, it doubles all other sources of attack damage as well. This includes but is not limited to weapon attack and temporary attack bonus effects.</span></span>
    </div>
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Illustrator</span>
      <span class="card-template-stat-values">
        <span class="dead-link"><a href="/illustrators">漫道</a></span>
      </span>
    </div>
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Population</span>
      <span class="card-template-stat-values">
        <div>Normal &ndash; ≈4,000</div>
      </span>
    </div>
  </div>
  <p>
    For the full card stats, <a href="https://index.gatcg.com/edition/rending-flames-doap">view this card on Grand Archive Index</a>.
  </p>
</div>