<p>This card is part of the <a href="/DOAp_(set)">Dawn of Ashes Prelude</a> set.</p>
<div class="card-template">
  <figure class="image">
    <img
      src="https://img.silvie.org/api-data/xRxSDiSKlR.jpg"
      alt="Scattering Gusts &ndash; DOAp &middot; EN-088KS"
      style="max-width: 440px;"
    >
    <figcaption>Scattering Gusts &ndash; DOAp &middot; EN-088KS</figcaption>
  </figure>
  <div class="card-template-stats">
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Effect</span>
      <span class="card-template-stat-values">
        <span class="card-template-stat-values-effect">
          <span class="effect__label">Suppress</span> up to two target allies. <span class="effect__reminder">(Target allies controlled by any player. To <span class="effect__label">suppress</span> an ally, banish it and return it to the field under its owner's control at the beginning of the next end phase.)</span>
<span class="effect__bubble">Class Bonus</span>Put an <span class="effect__label">enlighten</span> counter on your champion.
        </span>
      </span>
    </div>
    
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Illustrator</span>
      <span class="card-template-stat-values">
        <span class="dead-link"><a href="/illustrators">漫道</a></span>
      </span>
    </div>
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Population</span>
      <span class="card-template-stat-values">
        <div>Normal &ndash; ≈2,500</div>
      </span>
    </div>
  </div>
  <p>
    For the full card stats, <a href="https://index.gatcg.com/edition/scattering-gusts-doap">view this card on Grand Archive Index</a>.
  </p>
</div>