<p>This card is part of the <a href="/DEMO22_(set)">LGS Demo 2022</a> set.</p>
<div class="card-template">
  <figure class="image">
    <img
      src="https://img.silvie.org/api-data/lo6bC9AWKJ.jpg"
      alt="Scry the Skies &ndash; DEMO22 &middot; EN-015"
      style="max-width: 440px;"
    >
    <figcaption>Scry the Skies &ndash; DEMO22 &middot; EN-015</figcaption>
  </figure>
  <div class="card-template-stats">
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Effect</span>
      <span class="card-template-stat-values">
        <span class="card-template-stat-values-effect">
          <span class="effect__label">Glimpse LV</span>. Put the top card of your deck into your memory. <span class="effect__reminder">(To <span class="effect__label">glimpse</span>, look at that many cards from the top of your deck. Put those cards back on the top or on the bottom of your deck in any order.)</span>
        </span>
      </span>
    </div>
    
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Illustrator</span>
      <span class="card-template-stat-values">
        <span class="dead-link"><a href="/illustrators">漫道</a></span>
      </span>
    </div>
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Population</span>
      <span class="card-template-stat-values">
        <div>Normal &ndash; ≈36,000</div>
      </span>
    </div>
  </div>
  <p>
    For the full card stats, <a href="https://index.gatcg.com/edition/scry-the-skies-demo22">view this card on Grand Archive Index</a>.
  </p>
</div>