<p>This card is part of the <a href="/DOAp_(set)">Dawn of Ashes Prelude</a> set.</p>
<div class="card-template">
  <figure class="image">
    <img
      src="https://img.silvie.org/api-data/35qxrG1FtQ.jpg"
      alt="Spirit Blade: Ascension &ndash; DOAp &middot; EN-104"
      style="max-width: 440px;"
    >
    <figcaption>Spirit Blade: Ascension &ndash; DOAp &middot; EN-104</figcaption>
  </figure>
  <div class="card-template-stats">
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Effect</span>
      <span class="card-template-stat-values">
        <span class="card-template-stat-values-effect">
          As an additional cost to activate this card, return a Sword regalia you own to your material deck.
Choose a Sword regalia card from your material deck or banishment and put it onto the field.
        </span>
      </span>
    </div>
    
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Illustrator</span>
      <span class="card-template-stat-values">
        <span class="dead-link"><a href="/illustrators">漫道</a></span>
      </span>
    </div>
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Population</span>
      <span class="card-template-stat-values">
        <div>Normal &ndash; ≈15,000</div>
      </span>
    </div>
  </div>
  <p>
    For the full card stats, <a href="https://index.gatcg.com/edition/spirit-blade-ascension-doap">view this card on Grand Archive Index</a>.
  </p>
</div>