<p>This card is part of the <a href="/DOAp_(set)">Dawn of Ashes Prelude</a> set.</p>
<div class="card-template">
  <figure class="image">
    <img
      src="https://img.silvie.org/api-data/N1xJGsK4Xc.jpg"
      alt="Spirit Blade: Ghost Strike &ndash; DOAp &middot; EN-106"
      style="max-width: 440px;"
    >
    <figcaption>Spirit Blade: Ghost Strike &ndash; DOAp &middot; EN-106</figcaption>
  </figure>
  <div class="card-template-stats">
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Effect</span>
      <span class="card-template-stat-values">
        <span class="card-template-stat-values-effect">
          <span class="effect__label">Spectral Shift</span> <span class="effect__reminder">(When you activate this card, you may pay an additional 2. If you do, banish this card as it resolves, then return a crux element card from your graveyard to your hand.)</span>
<span class="effect__label">On Attack:</span> You may banish a card from your material deck. If you do, your champion's attacks get +1<span class="effect__icon effect__icon--sword"></span> until end of turn.
        </span>
      </span>
    </div>
        <div class="card-template-stat">
      <span class="card-template-stat-heading">Rules</span>
      <span class="card-template-stat-values"><span class="card-template-stat-values-rule">2022-03-10 &ndash; Attack cards resolve as damage is dealt. This means if you paid for the Spectral Shift cost, you would banish this card On Hit, and return a crux element card to your hand.</span></span>
    </div>
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Illustrator</span>
      <span class="card-template-stat-values">
        <span class="dead-link"><a href="/illustrators">漫道</a></span>
      </span>
    </div>
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Population</span>
      <span class="card-template-stat-values">
        <div>Normal &ndash; ≈30,000</div>
      </span>
    </div>
  </div>
  <p>
    For the full card stats, <a href="https://index.gatcg.com/edition/spirit-blade-ghost-strike-doap">view this card on Grand Archive Index</a>.
  </p>
</div>