<p>This card is part of the <a href="/DOAp_(set)">Dawn of Ashes Prelude</a> set.</p>
<div class="card-template">
  <figure class="image">
    <img
      src="https://img.silvie.org/api-data/VSzmyrUmrr.jpg"
      alt="Spurn to Ash &ndash; DOAp &middot; EN-076"
      style="max-width: 440px;"
    >
    <figcaption>Spurn to Ash &ndash; DOAp &middot; EN-076</figcaption>
  </figure>
  <div class="card-template-stats">
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Effect</span>
      <span class="card-template-stat-values">
        <span class="card-template-stat-values-effect">
          Destroy target regalia with a memory cost of 1 or less.
        </span>
      </span>
    </div>
    
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Illustrator</span>
      <span class="card-template-stat-values">
        <span class="dead-link"><a href="/illustrators">SODA </a></span>
      </span>
    </div>
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Population</span>
      <span class="card-template-stat-values">
        <div>Normal &ndash; ≈4,000</div>
      </span>
    </div>
  </div>
  <p>
    For the full card stats, <a href="https://index.gatcg.com/edition/spurn-to-ash-doap">view this card on Grand Archive Index</a>.
  </p>
</div>