<p>This card is part of the <a href="/DEMO22_(set)">LGS Demo 2022</a> set.</p>
<div class="card-template">
  <figure class="image">
    <img
      src="https://img.silvie.org/api-data/8K31b06xIE.jpg"
      alt="Sudden Steel &ndash; DEMO22 &middot; EN-016"
      style="max-width: 440px;"
    >
    <figcaption>Sudden Steel &ndash; DEMO22 &middot; EN-016</figcaption>
  </figure>
  <div class="card-template-stats">
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Effect</span>
      <span class="card-template-stat-values">
        <span class="card-template-stat-values-effect">
          <span class="effect__bubble">Class Bonus</span><span class="effect__label">Efficiency</span> <span class="effect__reminder">(This card costs <span class="effect__label">LV</span> less to activate. <span class="effect__label">LV</span> refers to your champion's level. Apply this effect only if your champion's class matches this card's class.)</span>
        </span>
      </span>
    </div>
    
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Illustrator</span>
      <span class="card-template-stat-values">
        <span class="dead-link"><a href="/illustrators">漫道</a></span>
      </span>
    </div>
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Population</span>
      <span class="card-template-stat-values">
        <div>Normal &ndash; ≈24,000</div>
      </span>
    </div>
  </div>
  <p>
    For the full card stats, <a href="https://index.gatcg.com/edition/sudden-steel-demo22">view this card on Grand Archive Index</a>.
  </p>
</div>