<p>This card is part of the <a href="/DOAp_(set)">Dawn of Ashes Prelude</a> set.</p>
<div class="card-template">
  <figure class="image">
    <img
      src="https://img.silvie.org/api-data/6ed9UtJxKg.jpg"
      alt="Surveillance Stone &ndash; DOAp &middot; EN-019"
      style="max-width: 440px;"
    >
    <figcaption>Surveillance Stone &ndash; DOAp &middot; EN-019</figcaption>
  </figure>
  <div class="card-template-stats">
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Effect</span>
      <span class="card-template-stat-values">
        <span class="card-template-stat-values-effect">
          Whenever an opponent declares an attack with a unit for the third time each turn, you may banish Surveillance Stone. If you do, draw a card.
        </span>
      </span>
    </div>
    
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Illustrator</span>
      <span class="card-template-stat-values">
        <span class="dead-link"><a href="/illustrators">漫道</a></span>
      </span>
    </div>
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Population</span>
      <span class="card-template-stat-values">
        <div>Normal &ndash; ≈7,500</div>
      </span>
    </div>
  </div>
  <p>
    For the full card stats, <a href="https://index.gatcg.com/edition/surveillance-stone-doap">view this card on Grand Archive Index</a>.
  </p>
</div>