<p>This card is part of the <a href="/DOAp_(set)">Dawn of Ashes Prelude</a> set.</p>
<div class="card-template">
  <figure class="image">
    <img
      src="https://img.silvie.org/api-data/7CN2tvJWwH.jpg"
      alt="Tome of Knowledge &ndash; DOAp &middot; EN-021"
      style="max-width: 440px;"
    >
    <figcaption>Tome of Knowledge &ndash; DOAp &middot; EN-021</figcaption>
  </figure>
  <div class="card-template-stats">
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Effect</span>
      <span class="card-template-stat-values">
        <span class="card-template-stat-values-effect">
          <span class="effect__bubble">Class Bonus</span><span class="effect__label"></span>Your champion gets +1 level. <span class="effect__reminder">(Apply this effect only if your champion's class matches this card's class.)</span>
<span class="effect__label">Banish Tome of Knowledge:</span> Draw a card. 
        </span>
      </span>
    </div>
    
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Illustrator</span>
      <span class="card-template-stat-values">
        <span class="dead-link"><a href="/illustrators">漫道</a></span>
      </span>
    </div>
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Population</span>
      <span class="card-template-stat-values">
        <div>Normal &ndash; ≈7,500</div>
      </span>
    </div>
  </div>
  <p>
    For the full card stats, <a href="https://index.gatcg.com/edition/tome-of-knowledge-doap">view this card on Grand Archive Index</a>.
  </p>
</div>