<p>This card is part of the <a href="/DEMO22_(set)">LGS Demo 2022</a> set.</p>
<div class="card-template">
  <figure class="image">
    <img
      src="https://img.silvie.org/api-data/OQOAQVzLtd.jpg"
      alt="Trusty Steed &ndash; DEMO22 &middot; EN-017"
      style="max-width: 440px;"
    >
    <figcaption>Trusty Steed &ndash; DEMO22 &middot; EN-017</figcaption>
  </figure>
  <div class="card-template-stats">
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Effect</span>
      <span class="card-template-stat-values">
        <span class="card-template-stat-values-effect">
          <span class="effect__label">On Enter:</span> Another target ally you control gets +2<span class="effect__icon effect__icon--sword"></span> until end of turn.
        </span>
      </span>
    </div>
    
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Illustrator</span>
      <span class="card-template-stat-values">
        <span class="dead-link"><a href="/illustrators">漫道</a></span>
      </span>
    </div>
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Population</span>
      <span class="card-template-stat-values">
        <div>Normal &ndash; ≈24,000</div>
      </span>
    </div>
  </div>
  <p>
    For the full card stats, <a href="https://index.gatcg.com/edition/trusty-steed-demo22">view this card on Grand Archive Index</a>.
  </p>
</div>