<p>This card is part of the <a href="/DEMO22_(set)">LGS Demo 2022</a> set.</p>
<div class="card-template">
  <figure class="image">
    <img
      src="https://img.silvie.org/api-data/L1PtqiW83n.jpg"
      alt="Veteran Soldier &ndash; DEMO22 &middot; EN-018"
      style="max-width: 440px;"
    >
    <figcaption>Veteran Soldier &ndash; DEMO22 &middot; EN-018</figcaption>
  </figure>
  <div class="card-template-stats">
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Effect</span>
      <span class="card-template-stat-values">
        <span class="card-template-stat-values-effect">
          <span class="effect__label">Floating Memory</span> <span class="effect__reminder">(While paying for a memory cost, you may banish this card from your graveyard to pay for 1 of that cost.)</span>
        </span>
      </span>
    </div>
    
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Illustrator</span>
      <span class="card-template-stat-values">
        <span class="dead-link"><a href="/illustrators">Hori</a></span>
      </span>
    </div>
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Population</span>
      <span class="card-template-stat-values">
        <div>Normal &ndash; ≈36,000</div>
      </span>
    </div>
  </div>
  <p>
    For the full card stats, <a href="https://index.gatcg.com/edition/veteran-soldier-demo22">view this card on Grand Archive Index</a>.
  </p>
</div>