<p>This card is part of the <a href="/DEMO22_(set)">LGS Demo 2022</a> set.</p>
<div class="card-template">
  <figure class="image">
    <img
      src="https://img.silvie.org/api-data/KEpPCif67K.jpg"
      alt="Warrior's Longsword &ndash; DEMO22 &middot; EN-008"
      style="max-width: 440px;"
    >
    <figcaption>Warrior's Longsword &ndash; DEMO22 &middot; EN-008</figcaption>
  </figure>
  <div class="card-template-stats">
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Effect</span>
      <span class="card-template-stat-values">
        <span class="card-template-stat-values-effect">
          <span class="effect__bubble">Class Bonus</span>Warrior's Longsword gets +1<span class="effect__icon effect__icon--sword"></span>. <span class="effect__reminder">(Apply this effect only if your champion's class matches this card's class.)</span>
        </span>
      </span>
    </div>
    
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Illustrator</span>
      <span class="card-template-stat-values">
        <span class="dead-link"><a href="/illustrators">漫道</a></span>
      </span>
    </div>
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Population</span>
      <span class="card-template-stat-values">
        <div>Normal &ndash; ≈12,000</div>
      </span>
    </div>
  </div>
  <p>
    For the full card stats, <a href="https://index.gatcg.com/edition/warriors-longsword-demo22">view this card on Grand Archive Index</a>.
  </p>
</div>